@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{box-sizing:border-box;}
header{
    background-color: black;
    width:100%;
    height: auto;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
nav{
  text-align: center;
  padding: 15px;
}
a{
  text-decoration: none;
}
.icons{
  position: absolute;
  width: 30%;
  text-align: center;
  left: 35%;
  right: 35%;
  bottom: 6em;
}
.icons-img{
  padding-left: 2em;
  padding-right: 2em;
}
.nav-links{
    color: rgb(226, 218, 218);
    font-size:x-large;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Orbitron', sans-serif;}
.background-settings{
    background:url("./background/background-1.jpg");
    background-position: center;
    height: 100vh;
    max-width: auto;
    background-size:cover;
    background-repeat: no-repeat;
}
.background-settings-1{
  background-color: black;
}
#intro{
    font-family: 'Poiret One', sans-serif;
    white-space: normal;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}
#avatar{
    float: right;
    padding-top: 20%;
}
#avatar-photo{
    border-radius: 50%;
    max-height: 400px;
    max-width: 400px;
}
.arrows{
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}
a{
  text-decoration: none;
}
.arrows button:hover{
  background-color: #fff;
  color: #000;
}
.carousel .list .item:nth-child(1){
    z-index: 1;
}
.carousel{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.carousel .list .item{
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item .carousel-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content .name {
  position: absolute;
  color: antiquewhite;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .content .name {
  font-weight: bold;
  font-size: 5em;
}
@media only screen and (min-width: 720px) {
    #intro{
      font-size: larger;
    }
  }
@media only screen and (max-width: 1600px) {
    #intro{
      font-size: x-large;
    }
  }
  @media only screen and (max-width: 719px){
    #intro{
      font-size: large;
    }
    .nav-links{
      font-size: 50px;
    }
  }